<div class="container">

	<div class='message' id='message'>
		
	</div>

  <form class="form-signin" ng-submit="submit()">
    <h2 class="form-signin-heading">Please sign in</h2>

    <input ng-model="displayname" class="form-control" placeholder="DisplayName" autofocus="">

    <input ng-model="username" class="form-control" placeholder="Email address" autofocus="">
    
    <input type="password" ng-model="password" class="form-control" placeholder="Password" autofocus="">

    <input ng-model="description" class="form-control" placeholder="Description" autofocus="">
    


    <button type="submit" class="btn btn-lg btn-primary btn-block" >Sign in</button>
  </form>

</div> <!-- /container -->	  
