<!DOCTYPE html>
<html>

  <!--Head containing all imported code etc.-->
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--Imports for the dropup menu. Source links are stored in the files-->
      <link rel="stylesheet" href="../Style/signin.css">
      <link rel="stylesheet" href="../External/bootstrap.min.css">
      
      <!--Imports for the dropup menu javascript-->
      <script src="jquery.min.js"></script>
      
     
      <!--Title that will be displayed on the top when the current page is open-->
      <title>Register/Sign In Cater Geek!</title>    
  </head>


  <!--Body begining-->
    <body>
    <h1>Already a User? Sign in below:</h1>
    </br>
    <h3>Sign In</h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="emailSignIn" type="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="pswrdSignIn" class="form-control" placeholder="Password" required>
     </div> 
    </form>
      <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-6">
          <button id="loginSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
      </div>
    </br>
      <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-6">
          <button id="homePageSignin" href="index.html" class="btn btn-lg btn-primary btn-block" type="submit">Home</button>
        </div>
    </div>

    

    
    </body>


   
    
   

   


       

    <!--Footre along with the copyright icon.-->
    <footer>&copy; Copyright 2015 CaterGeek</footer>

    <!--End Body-->
  </body>
</html>