<!DOCTYPE html>
<html>

  <head>   
    <!--Note the backbone of this page is taken from http://www.w3schools.com/bootstrap/bootstrap_forms.asp-->
    <title>Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Makes the page responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Link to stylesheet-->
    
    <!--Ajax import-Google API-->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  
  
  </head>
  
  <!--Body of the Website-->

  <body>

  <div class="container">
  <h2>Sign Up as a Caterer</h2>
  <form role="form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="pwd">Confirm Password:</label>
      <input type="password" class="form-control" id="pwd2" placeholder="Enter password">
    </div>
  </form> 
  <button id="signUpButton" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    <button id="homePage" class="btn btn-lg btn-primary btn-block" type="submit">Home</button>
  </div>
  
 
  </body>

  </html>