
<div class="row">
	<div class="col-md-2">
		
	</div>

	<div class="col-md-8">
		<div class="all-users-container">
			<div class="row">
				<div class="col-md-8">
					
				</div>
				<div class="col-md-4">
					<button type="submit" class="btn" ng-click="profileHandle()"> {{ username }}</button>  
				</div>
			</div>
			<div class="row">
				<div class='welcome-text' id="welcome"></div>
			</div>
			<br>
			<center>
			<div class="row">
				<div class="table-div">
					<table>
						<tr>
							<th>User Name</th>
							<th>Display Name</th>
						</tr>
						
						<tr ng-repeat="x in users" ng-click="userClick(x)">
						  <td>{{ x.username }}</td>
						  <td>{{ x.displayname }}</td>
						</tr>
					</table>
				</div>
			</div>
			</center>
		</div>
	</div>
</div> 


