<div id="all_caters" class="container" ng-controller="catererDashboard"> 

    <button class="btn btn-primary btn-sm" ng-click="profile()">Profile</button>
    <button class="btn btn-primary btn-sm" ng-click="dashboard()">Caterer Dashboard</button>

    <p> New Orders</p>
    <table class="table">
        <thead>
            <tr>
                <th>Caterer Name</th>
                <th>Address</th>
                <th>Rating</th> 
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in newOrder">
                <td>{{cater.displayname}}</td>
                <td>{{cater.username}}</td>
                <td>{{cater.rating}}</td>
                <td><button class="btn btn-primary btn-sm" ng-click="view(cater._id)">View More</button></td>
            </tr>
        </tbody>
    </table>

    <br>

    <p> Pending Orders</p>
    <table class="table">
        <thead>
            <tr>
                <th>Caterer Name</th>
                <th>Address</th>
                <th>Rating</th> 
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in pending">
                <td>{{cater.displayname}}</td>
                <td>{{cater.username}}</td>
                <td>{{cater.rating}}</td>
                <td><button class="btn btn-primary btn-sm" ng-click="view(cater._id)">View More</button></td>
            </tr>
        </tbody>
    </table>

    <br>

    <p> Completed Orders</p>
    <table class="table">
        <thead>
            <tr>
                <th>Caterer Name</th>
                <th>Address</th>
                <th>Rating</th> 
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in completed">
                <td>{{cater.displayname}}</td>
                <td>{{cater.username}}</td>
                <td>{{cater.rating}}</td>
                <td><button class="btn btn-primary btn-sm" ng-click="view(cater._id)">View More</button></td>
            </tr>
        </tbody>
    </table>
</div> 

