<div id="all_caters" class="container" ng-controller="catererDashboard"> 


    <p> New Orders</p>
    <table class="table">
        <thead>
            <tr>
                <th>Client name</th>
                <th>placed_time</th>
                <th>details</th> 
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in newOrder">
                <td>{{order.client_id}}</td>
                <td>{{order.placed_time}}</td>
                <td>{{order.details}}</td>
                <td><button class="btn btn-primary btn-sm" ng-click="view(order._id)">Accept</button></td>
            </tr>
        </tbody>
    </table>

    <br>

    <p> Pending Orders</p>
    <table class="table">
        <thead>
            <tr>
                <th>Client name</th>
                <th>placed_time</th>
                <th>details</th> 
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in pending">
                <td>{{order.client_id}}</td>
                <td>{{order.placed_time}}</td>
                <td>{{order.details}}</td>
                <td><button class="btn btn-primary btn-sm" ng-click="view(order._id)">Completed</button></td>
            </tr>
        </tbody>
    </table>

    <br>

    <p> Completed Orders</p>
    <table class="table">
        <thead>
            <tr>
                <th>Client name</th>
                <th>placed_time</th>
                <th>details</th> 
                <th>Completed Time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in completed">
                <td>{{order.client_id}}</td>
                <td>{{order.placed_time}}</td>
                <td>{{order.details}}</td>
                <td>{{order.fulfillment_time}}</td>
            </tr>
        </tbody>
    </table>
</div> 
