<div id="catDis" class="container" ng-controller="catererDisplay"> 
	<button class="btn btn-primary" ng-click="back()">Back</button>
	<div class="row">
	<div class="col-md-4">
			<dl class="dl-horizontal" >
 				 <dt>Name: </dt>
 				 <dd id="display"></dd>
 				 <br>
 				 <dt> E-mail: </dt>
 				 <dd id="email"></dd>
 				 <br> 
 				 <dt> Address: </dt>
 				 <dd id="addr"></dd>
 				 <br>
 				 <dt> Specializes in: </dt>
 				 <dd id="spec"></dd>
 				 <br>
 				 <dt> Price Range: </dt>
 				 <dd id="pc"></dt>
 				 <br>
 				 <dt> Average Rating: </dt> 
 				 <dd id="r"></dd> 
			</dl>
	</div>
	<div id="revs" class="col-md-4">
		<form>
			<label for="comment">Leave a review: </label>
       		<textarea ng-model="catReview" class="form-control" rows="5"maxlength="499"></textarea>
            <br>
            <label for="comment">Leave a rating: </label>
            <input ng-model="rating" class="form-control" placeholder="Rating 1 to 5" autofocus="">
            <br>
            <button class="btn btn-primary" ng-click="postReview()">Submit</button> 
            <button class="btn btn-primary btn-sm" ng-click="order()">PlaceOrder</button>  
		</form>
	</div>
	<div id="ds" class="col-md-4">
			<div id="revstr" class="container">
				<label for="comment"> Decription: </label>
				<p id="desc"></p>
			</div>
			<br>
			<div id="revstr" class="container">
				<label for="comment"> Reviews: </label>
				<p id="reviews"></p>
			</div>
	</div>
	</div>
</div>