<div class="container" ng-controller="catererDisplay"> 
	<div class="col-md-4">

		Image

	</div>
	
	<div class="col-md-4">
		<div class="container">
			<dl class="dl-horizontal" >
 				 <dt>Name: </dt>
 				 <dd id="display"></dd>
 				 <br>
 				 <dt> E-mail: </dt>
 				 <dd id="email"></dd>
 				 <br>
 				 <dt> Specializes in: </dt>
 				 <dd id="spec"></dd>
 				 <br>
 				 <dt> Description: </dt>
 				 <dd id="desc">No Description</dd>
			</dl>
			<button class="btn btn-primary btn-sm" ng-click="order()">PlaceOrder</button>
		</div>
	</div>
</div>