<div id="all_caters" class="container" ng-controller="catererDashboard"> 
    <button class="btn btn-primary" ng-click="back()">Back</button>
    <br>

    <p> New Orders</p>
    <table class="table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Placed at</th>
                <th>Details</th> 
                <th>Accept</th>
                <th>Decline</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in newOrder">
                <td>{{order.client_name}}</td>
                <td>{{order.placed_time}}</td>
                <td>{{order.details}}</td>
                <td><button class="btn btn-primary btn-sm" ng-click="acceptOrder(order._id)">Accept</button></td>
                <td><button class="btn btn-primary btn-sm" ng-click="declineOrder(order._id)">Decline</button></td>
            </tr>
        </tbody>
    </table>

    <br>

    <p> Pending Orders</p>
    <table class="table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Placed at</th>
                <th>Details</th> 
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in pending">
                <td>{{order.client_name}}</td>
                <td>{{order.placed_time}}</td>
                <td>{{order.details}}</td>
                <td><button class="btn btn-primary btn-sm" ng-click="completeOrder(order._id)">Completed</button></td>
            </tr>
        </tbody>
    </table>

    <br>

    <p> Completed Orders</p>
    <table class="table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Placed at</th>
                <th>Details</th> 
                <th>Completed Time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in completed">
                <td>{{order.client_name}}</td>
                <td>{{order.placed_time}}</td>
                <td>{{order.details}}</td>
                <td>{{order.fulfillment_time}}</td>
            </tr>
        </tbody>
    </table>
</div> 
