<div class="row">
	<div class="col-md-4">
		
	</div>

	<div class="col-md-4">
		<div class="login-container">
			<form>
    			<h2 class="signin-heading">Sign in</h2>
    
    			<input ng-model="username" class="form-control" placeholder="Email address" autofocus="">
    			<br>
    			<input type="password" ng-model="password" class="form-control" placeholder="Password">
    			<br>
    			<div class="signin-buttons">
			    <button class="btn" ng-click="login()">Sign in</button>
			    <button class="btn" ng-click="signup()">Sign up</button>
			  	</div>
			  </form>

		</div>

	</div>
</div> 

