<div class="row">
	<div class="col-md-4">
		
	</div>

	<div class="col-md-4">
		<div class='message' id='message'></div>
		<div class="login-container">
			<form ng-submit="submit()">
    			<h2 class="signin-heading">Sign Up</h2>
				<br>    
		        <input ng-model="details" class="form-control" placeholder="Details" autofocus="">
		        <br>
		        <input ng-model="delivery_details" class="form-control" placeholder="Delivery Details" autofocus="">
		        <br>

		        <br>
    			<div class="signin-buttons">
					<button type="submit" class="btn" >Sign up</button>
			  	</div>

			  </form>

		</div>

	</div>
</div> 
