<div id="signupdv" class="row">
	<div class="col-md-4">
		
	</div>

	<div class="col-md-4">
		<div class='message' id='message'></div>
		<div class="login-container">
			<form ng-submit="submit()">
    			<h2 class="signin-heading">Sign Up</h2>
				<br>    
		        <input ng-model="displayname" class="form-control" placeholder="DisplayName" autofocus="">
		        <br>
		        <input ng-model="username" class="form-control" placeholder="Email address" autofocus="">
		        <br>
		        <input type="password" ng-model="password" class="form-control" placeholder="Password" autofocus="">
		        <br>
		        <input type="password" ng-model="repassword" class="form-control" placeholder="Retype Password" autofocus="">
		        <br>
    			<div class="signin-buttons">
					<button type="submit" class="btn btn-primary" >Sign up</button>
					<button class="btn btn-primary" ng-click="back()">Back</button>
			  	</div>

			  </form>

		</div>

	</div>
</div> 
