<div id="signup-container" class="container">    
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div id="panel" class="panel" >
                <div class="panel-heading">
                    <div class="panel-title">Please sign in:</div>
                </div>     

                <div id="form_div" class="panel-body" >

                    <div id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <div id="form-signup" class="panel-body">
                          <form id="loginform" class="form-horizontal" role="form">         
                            <div id="divsi_username" class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                              <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Enter email here.">   
                            </div>

                            <div id="divsi_password" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password" placeholder="Enter your password here.">
                            </div>

                            <div id="divsi_conpassword" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password" placeholder="Confirm your password.">
                            </div>

                            <div class="col-sm-12 controls">
                                <button id="btn-signuphere" onclick="signup()" class="btn btn-info">Signup</button>
                                <button id="btn-back" onclick="goBack()" class="btn btn-info">Back</button>
                            </div> 
                          </form>
                        </div>
                           
                        <div id="log" class="panel-body"> 
                        <form id="loginform" class="form-horizontal" role="form">         
                            <div id="div_username" class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                              <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Enter email here.">   
                            </div>

                            <div id="div_password" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password" placeholder="Enter your password here.">
                            </div>
                        </form>

                         <div class="col-sm-12 controls">
                            <button id="btn-login" onclick="login()" class="btn btn-info">Login</button>
                            <button id="btn-signup" onclick="goSignup()" class="btn btn-info">Signup</button>
                            <button id="btn-proceed" onclick="goHome()" class="btn btn-info">Proceed without signup</button>
                         </div> 

                        </div>
                </div>                     
        </div>  
    </div>
</div>